@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap'); 

.play-button {
    width: 193px;
    height: 52px;
    background: #262A3F;
    box-shadow: 6px 6px 0px #626887;
    border-radius: 24px;
    border: none;
    color: white;
    font-size: 24px;
}

.winner {
    font-size: 64px;
    color: #C08DE9;
}

.text {
    font-family: "Varela Round", sans-serif;
    font-style: normal;
    font-weight: normal;
}