@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap'); 

.turn {
    font-family: "Varela Round", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 93.8%;

}

.score { 
    font-size: 36px;
}

.turn {
    font-size: 32px;
    color: #C08DE9;
}