@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap'); 

.text {
    font-family: "Varela Round", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 93.8%;

}

.x-text { 
    color: #C08DE9;
}

.o-text { 
    color: #517AE4;
}

.dash {
    color: #626887;
}

.score {
    font-size: 36px;
    display: inline;
}

.turn {
    font-size: 32px;
    color: #C08DE9;
}